.rootPane {
    -fx-background-color: white;
}

.titleLabel {
    -fx-background-color: white;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.pagination {
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
.pagination .toggle-button {
    -fx-background-color:#505050;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.pagination .toggle-button:hover {
    -fx-background-color: #2F2F2F;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.pagination .toggle-button:selected {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.pagination .left-arrow, .pagination .right-arrow {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-border-color: #A9A9A9;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-size: 16px;
}

.pagination .left-arrow:hover, .pagination .right-arrow:hover {
    -fx-background-color: white;
    -fx-text-fill: white;
}

.pagination .left-arrow:pressed, .pagination .right-arrow:pressed {
    -fx-background-color: white;
    -fx-text-fill: white;
}

.pagination .button {
    -fx-background-color:#505050;
}

.pagination .button:hover {
    -fx-background-color: #2F2F2F;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.pagination:focused {
    -fx-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.table-view .table-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
    -fx-font-family: "Futura Medium";
}

.table-view {
    -fx-border-color: transparent;
    -fx-font-size: 24px;
    -fx-font-weight: normal;
    -fx-alignment: CENTER;
    -fx-background-color: white;
}

.font {
    -fx-font: 26px "Futura Medium";
    -fx-alignment: CENTER;
}
.addButton {
    -fx-text-fill: black;
    -fx-background-color:white;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
}
.addButton:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-x: 5.0;

}
.planBatches {
    -fx-text-fill: black;
    -fx-background-color:white;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
}
.planBatches:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-x: 5.0;

}
.fullList {
    -fx-text-fill: black;
    -fx-background-color:white;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-family: "Futura Medium";
    -fx-font-size: 24px;
}
.fullList:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-x: -10px;

}
